BENEFICIARY=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
OWNER=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
WITHDRAWAL_CONTRACT=0x00431F263cE400f4455c2dCf564e53007Ca4bbBb
CONSOLIDATION_CONTRACT=0x00000000219ab540356cBB839Cbe05303d7705Fa

# Address of the deployed ImmutableBeaconFactory contract (if available)
# IMMUTABLE_BEACON_FACTORY=0x59b670e9fA9D0A427751Af201D676719a970857b

# Address of the TVS clone implementation contract (if available)
# TVS_CLONE_IMPLEMENTATION=0x8f86403A4DE0BB5791fa46B8e795C547942fE4Cf

# Address of the TVS upgradeable implementation contract (if available)
# TVS_UPGRADEABLE_IMPLEMENTATION=0x8A791620dd6260079BF849Dc5567aDC3F2FdC318

# Address of the upgradeable beacon contract (if available)
# UPGRADEABLE_BEACON=0xf5059a5D33d5853360D16C683c16e67980206f36

# RPC URL for connecting to the blockchain
RPC_URL="http://127.0.0.1:8545/"

# Private key for deploying contracts or interacting with the blockchain
PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

# API key for verifying contracts on Etherscan (optional)
# ETHERSCAN_API_KEY=

# Etherscan API endpoint (optional)
# ETHERSCAN_API="https://api-hoodi.etherscan.io/api" 